*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
}
